@use '../variables' as *;
@use '../mixins' as *;

.features {
  margin-bottom: 200px;

  &__title {
    margin: 0 0 48px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 670px;
  }

  &__card {
    position: relative;
    padding: 24px;
    border-radius: 24px;
    background-color: $bg-secondary;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      border-color: $primary-color;
      background-color: transparent;

      .features__shape {
        opacity: 1;
        // transform: scale(1);
        // background-position: bottom left;
        // transform-origin: bottom left;
        transition: all 0.3s ease;
        transform: translateX(0);
      }
    }
  }

  &__shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: radial-gradient(40.91% 55.2% at 8.31% 100%, #EBFF00 0%, #000 100%);
    background-repeat: no-repeat;
    // background-position: -100px -100px;
    z-index: -1;
    transform: translateX(-100px);
    opacity: 0;
    // transform: scale(0);
  }

  &__text {
    color: $text-color;
  }
}
