// Promo section
@use '../variables' as *;
@use '../mixins' as *;

.promo {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-variation-settings: 'wght' 700;
    font-weight: 700;
    font-size: 154px;
    line-height: 1.1;
  }

  &__text {
    max-width: 652px;
  }
}

