// Утилиты
@use 'sass:color';
@use '../variables' as *;
@use '../mixins' as *;

.container {
  @include container;
}

.btn {
  position: relative;
  display: flex;
  // width: 325px;
  height: 60px;
  padding: 15px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid transparent;
  color: $bg-color;
  background: #EBFF00;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: $primary-color;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s 0.2s ease-in-out;
  }
  
  &:hover::before {
    opacity: 1;
    transform: translateY(-50%);
  }
  
  &__text {
    color: currentColor;
    font-family: $font-primary, sans-serif;
    font-variation-settings: 'wght' 600;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  &:hover {
    background-color: transparent;
    border-color: $primary-color;
  }
  
  &--primary {
    background: $primary-color;
    border: 1px solid $primary-color;
    
    .btn__text {
      color: currentColor;
    }
    
    &:hover {
      color: $primary-color;
      background-color: transparent;
      border-color: $primary-color;
    }
  }

  &--secondary {
    background: $secondary-color;
    border: 1px solid $secondary-color;
    color: $text-color;

    &::before {
      background-color: $secondary-color;
    }
    
    .btn__text {
      color: $text-color;
    }

    &:hover {
      color: $secondary-color;
      background-color: transparent;
      border-color: $secondary-color;
    }
  }
}
