section.activities
  .container
    .activities__content
      include activity-card
      +activity-card('Теннис', 'Записаться', 'img/tiles/tennis.webp', '#', 'btn--primary activity-card__button', 'activity-card--primary', 'button', 'training')
      include activity-card
      +activity-card('Падел', 'Записаться', 'img/tiles/pedals.webp', '#', 'btn--secondary activity-card__button', 'activity-card--secondary', 'button', 'training')