section.application
  .container
    .application__content
      h2.application__title Наше приложение
      .application__img(data-scroll-position="bottom")
        .application__img-loader
          include icons/icon-logo-mini
        img(src="img/app/phone.webp" alt="Application" loading="lazy" width="350" height="700")
      include button
      +button('Скачать', 'https://apps.apple.com/ru/app/nakort-tennis-club/id6742146880', 'application__button btn--primary')
    .application__marquee
      .application__marquee-track
        -
          const marqueeItems = [
            'Легкая онлайн-запись',
            'Выбор наставника и знакомство с его опытом',
            'Личный кабинет',
            'Мотивационная программа',
            'Новостная лента'
          ];
        each item in marqueeItems
          .application__marquee-item
            span= item
            include icons/icon-flash
        // Дублируем для бесшовности
        each item in marqueeItems
          .application__marquee-item
            span= item
            include icons/icon-flash 
