section.faq#faq
  .container
    h2.section-title.faq__title FAQ
    .faq__content.faq-content
      .faq-content__left
        p.faq-content__left-text
            | Вы спрашивали — 
            br
            | мы отвечаем
        a.btn.btn--primary.faq-content__left-btn(href="#")
          span.btn__text Узнать больше

      .faq-content__right
        .faq-content__accordion
          details.faq-content__accordion-item
            summary.faq-content__accordion-summary
              span.faq-content__accordion-question Вы подбираете локации для занятий по запросу?
              include icons/icon-arrow
            .faq-content__accordion-answer
              p Мы проводим индивидуальные (1 человек), сплит-тренировки (2 человека) и групповые тренировки (4 человека). Подробную информацию можно получить в разделе "Цены".
          
          details.faq-content__accordion-item
            summary.faq-content__accordion-summary
              span.faq-content__accordion-question Какие виды тренировок вы проводите?
              include icons/icon-arrow
            .faq-content__accordion-answer
              p Мы проводим индивидуальные (1 человек), сплит-тренировки (2 человека) и групповые тренировки (4 человека). Подробную информацию можно получить в разделе "Цены".
          
          details.faq-content__accordion-item
            summary.faq-content__accordion-summary
              span.faq-content__accordion-question Есть ли у вас скидки на занятия?
              include icons/icon-arrow
            .faq-content__accordion-answer
              p Мы проводим индивидуальные (1 человек), сплит-тренировки (2 человека) и групповые тренировки (4 человека). Подробную информацию можно получить в разделе "Цены".
          
          details.faq-content__accordion-item
            summary.faq-content__accordion-summary
              span.faq-content__accordion-question Есть ли у вас тренировки для корпоративных клиентов?
              include icons/icon-arrow
            .faq-content__accordion-answer
              p Мы проводим индивидуальные (1 человек), сплит-тренировки (2 человека) и групповые тренировки (4 человека). Подробную информацию можно получить в разделе "Цены".

       


