header.header(itemscope itemtype="https://schema.org/WPHeader")
  .container
    nav.nav(itemscope itemtype="https://schema.org/SiteNavigationElement" role="navigation" aria-label="Основная навигация")
      .nav__logo(itemscope itemtype="https://schema.org/Organization")
        a(href="/" itemprop="url" aria-label="Главная страница" class="logo-link")
          include logo
      ul.nav__list
        li.nav__item
          a.nav__link(href="/about" itemprop="url" aria-label="Перейти на страницу О нас")
            span(itemprop="name") О нас
        li.nav__item
          a.nav__link(href="/tennis" itemprop="url" aria-label="Перейти на страницу Теннис")
            span(itemprop="name") Теннис
        li.nav__item
          a.nav__link(href="/padel" itemprop="url" aria-label="Перейти на страницу Падел")
            span(itemprop="name") Падел
        li.nav__item
          a.nav__link(href="/corporate" itemprop="url" aria-label="Перейти на страницу Сотрудничество")
            span(itemprop="name") Сотрудничество
        li.nav__item
          a.nav__link(href="/events" itemprop="url" aria-label="Перейти на страницу Мероприятия")
            span(itemprop="name") Мероприятия
        li.nav__item
          a.nav__link(href="/journal" itemprop="url" aria-label="Перейти на страницу Журнал")
            span(itemprop="name") Журнал
        li.nav__item
          a.nav__link(href="/contacts" itemprop="url" aria-label="Перейти на страницу Контакты")
            span(itemprop="name") Контакты

