section.highlight-strip
  .container.highlight-strip__container
    img.highlight-strip__shape(src="img/general/shape-2.webp" alt="Shape" loading="lazy" width="702" height="752")
    .highlight-strip__inner
      .highlight-strip__brand
        include logo
      p.highlight-strip__text Новости тенниса, лайф клуба, специальные предложения в нашем ТГ-канале
      .highlight-strip__dots
        span.highlight-strip__dot
        span.highlight-strip__dot
        span.highlight-strip__dot
      .highlight-strip__action
        include button
        +button('Узнать больше', 'https://t.me/nakort_club', 'btn--primary highlight-strip__button')