section.promo(itemscope itemtype="https://schema.org/AboutPage")
  .container
    .promo__content
      h2.promo__title(itemprop="name") NAKORT
      .promo__text(itemprop="description")
        p.promo__text-line 
          | — это энергия, драйв и настоящие эмоции! 
          br
          | Приготовьтесь к тому, что ваша жизнь заиграет новыми красками.
          br
          | Не откладывайте свои победы на завтра - воспользуйтесь нашими выгодными предложениями! 

