section.reviews#reviews
  .container
    h2.reviews__title Отзывы наших клиентов
    .reviews__wrapper
      .reviews__carousel.swiper
        .reviews__slides.swiper-wrapper
          .reviews__slide.swiper-slide
            .reviews__card
              .reviews__avatar
                img(src="img/reviews/photo-1.webp" alt="Олег Дорожок" loading="lazy" width="100" height="100")
              .reviews__content
                h3.reviews__name Олег Дорожок
                p.reviews__text
                  | 1 Прекрасные локации, все в доступности, можно найти удобный для себя вариант в любой день недели. Все тренеры профессионалы, спокойно объясняют, показывают.

          .reviews__slide.swiper-slide
            .reviews__card
              .reviews__avatar
                img(src="img/reviews/photo-1.webp" alt="Олег Дорожок" loading="lazy" width="100" height="100")
              .reviews__content
                h3.reviews__name Олег Дорожок
                p.reviews__text
                  | 2 Прекрасные локации, все в доступности, можно найти удобный для себя вариант в любой день недели. Все тренеры профессионалы, спокойно объясняют, показывают.

          .reviews__slide.swiper-slide
            .reviews__card
              .reviews__avatar
                img(src="img/reviews/photo-1.webp" alt="Олег Дорожок" loading="lazy" width="100" height="100")
              .reviews__content
                h3.reviews__name Олег Дорожок
                p.reviews__text
                  | 3 Прекрасные локации, все в доступности, можно найти удобный для себя вариант в любой день недели. Все тренеры профессионалы, спокойно объясняют, показывают.

          .reviews__slide.swiper-slide
            .reviews__card
              .reviews__avatar
                img(src="img/reviews/photo-1.webp" alt="Олег Дорожок" loading="lazy" width="100" height="100")
              .reviews__content
                h3.reviews__name Олег Дорожок
                p.reviews__text
                  | 4 Прекрасные локации, все в доступности, можно найти удобный для себя вариант в любой день недели. Все тренеры профессионалы, спокойно объясняют, показывают.

          .reviews__slide.swiper-slide
            .reviews__card
              .reviews__avatar
                img(src="img/reviews/photo-1.webp" alt="Олег Дорожок" loading="lazy" width="100" height="100")
              .reviews__content
                h3.reviews__name Олег Дорожок
                p.reviews__text
                  | 5 Прекрасные локации, все в доступности, можно найти удобный для себя вариант в любой день недели. Все тренеры профессионалы, спокойно объясняют, показывают.

          .reviews__slide.swiper-slide
            .reviews__card
              .reviews__avatar
                img(src="img/reviews/photo-1.webp" alt="Олег Дорожок" loading="lazy" width="100" height="100")
              .reviews__content
                h3.reviews__name Олег Дорожок
                p.reviews__text
                  | 6 Прекрасные локации, все в доступности, можно найти удобный для себя вариант в любой день недели. Все тренеры профессионалы, спокойно объясняют, показывают.

      button.reviews__nav-btn.reviews__nav-btn--prev(aria-label="Предыдущий отзыв")
        svg(width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M12.5898 0.80932L1.14453 12.2546L12.5898 23.7" stroke="currentColor" stroke-width="1.61861" stroke-linecap="round")
      button.reviews__nav-btn.reviews__nav-btn--next(aria-label="Следующий отзыв")
        svg(width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1.41016 0.80932L12.8554 12.2546L1.41016 23.7" stroke="currentColor" stroke-width="1.61861" stroke-linecap="round")