@use '../styles/variables' as *;

.about {
//   padding: 100px 0;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.aboutLeft {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  max-width: 550px;

  :global(.about__left-btn) {
    margin-top: auto;
  }
}

.aboutTitle {
  color: $text-color;
  font-variation-settings: 'wght' 800;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

.aboutText {
  color: $text-color;
  line-height: 1.6;
  font-size: 16px;
}

.aboutRight {
  flex: 0 1 50%;
}

.aboutGrid {
  display: grid;
  grid-template-columns: repeat(3, 210px);
  gap: 20px 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aboutGridItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 15px;
  border-radius: 50%;
  aspect-ratio: 1/1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    animation: about-grid-item-shadow 3s linear infinite;
  }

  &:nth-child(1)::before {
    box-shadow: 0 -8px 21.48px rgba(235, 255, 0, 0.70);
  }

  &:nth-child(2)::before {
    box-shadow: 6px -8px 21.48px rgba(235, 255, 0, 0.70);
  }

  &:nth-child(3)::before {
    box-shadow: 6px -8px 21.48px rgba(235, 255, 0, 0.70);
  }

  &:nth-child(4)::before {
    box-shadow: -10px 2px 21.48px rgba(235, 255, 0, 0.70);
  }

  &:nth-child(5)::before {
    box-shadow: 7px 10px 21.48px rgba(235, 255, 0, 0.70);
  }

  &:nth-child(6)::before {
    box-shadow: 0 8px 21.48px rgba(235, 255, 0, 0.70);
  }
}

.aboutGridTitle {
  color: $primary-color;
  font-size: 46px;
  line-height: 1.1;
  margin: 0;
  z-index: 1;
}

.aboutGridText {
  color: $text-color;
  text-align: center;
  font-size: 16px;
  line-height: 1.1;
  z-index: 1;
}

@keyframes about-grid-item-shadow {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

