@use '../styles/variables' as *;

.faq {
  padding: 5rem 0;
}

.faqTitle {
  margin-bottom: 32px;
  color: $text-color;
}

.faqContent {
  display: flex;
  gap: 40px;
  align-items: stretch;
}

.faqContentLeft {
  flex: 0 1 40.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.faqContentLeftText {
  font-size: 36px;
  color: $text-color;
  margin: 0;
}

.faqContentRight {
  flex: 0 1 57.7%;
}

.faqContentAccordion {
  display: flex;
  flex-direction: column;
}

.faqContentAccordionItem {
  padding: 24px 0;
  border-bottom: 1px solid $text-color;
  overflow: hidden;
  transition: all 0.3s ease;

  &[open] {
    border-color: $primary-color;

    .faqContentAccordionQuestion {
      color: $primary-color;
    }

    :global(.icon-arrow) {
      color: $primary-color;
      transform: rotate(-90deg);
    }
  }
}

.faqContentAccordionSummary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  color: $text-color;
  cursor: pointer;
  list-style: none;
  transition: all 0.3s ease;
  user-select: none;
  margin: 0;
  padding: 0;

  &::-webkit-details-marker {
    display: none;
  }

  &::marker {
    display: none;
  }

  &:hover {
    .faqContentAccordionQuestion {
      color: $primary-color;
    }

    :global(.icon-arrow) {
      color: $primary-color;
    }
  }

  :global(.icon-arrow) {
    flex-shrink: 0;
    padding: 10px;
    width: 42px;
    height: 42px;
    color: $text-color;
    transition: transform 0.3s ease, color 0.3s ease;
  }
}

.faqContentAccordionQuestion {
  font-family: $font-primary, sans-serif;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  color: $text-color;
}

.faqContentAccordionAnswer {
  margin-top: 12px;
  font-size: 14px;
  color: $text-color;

  p {
    margin: 0;
  }
}

.faqContentLeft :global(.faq-content__left-btn) {
  // Стили для кнопки
}
