@use '../styles/variables' as *;

.features {
  margin-bottom: 200px;
}

.featuresTitle {
  margin: 0 0 48px;
  color: $text-color;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 670px;
}

.featuresCard {
  position: relative;
  padding: 24px;
  border-radius: 24px;
  background-color: $bg-secondary;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    border-color: $primary-color;
    background-color: transparent;

    .featuresShape {
      opacity: 1;
      transition: all 0.3s ease;
      transform: translateX(0);
    }
  }
}

.featuresShape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: radial-gradient(40.91% 55.2% at 8.31% 100%, #EBFF00 0%, #000 100%);
  background-repeat: no-repeat;
  z-index: -1;
  transform: translateX(-100px);
  opacity: 0;
}

.featuresText {
  color: $text-color;
  position: relative;
  z-index: 1;
}

