@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.header {
  position: sticky;
  top: 0;
  background-color: $bg-color;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0;
  padding: 0;
}

.navLink {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  color: $text-color;
  font-family: $font-primary, sans-serif;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%) translateX(-10px);
    width: 10px;
    height: 10px;
    background-image: url('/img/icons/ball.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    color: $primary-color;
    font-variation-settings: 'wght' 600;

    &::before {
      opacity: 1;
      transform: translateY(-50%) translateX(0);
    }
  }
}

.navLogo {
  padding-top: 25px;
}

.logoLink {
  display: inline-block;
}

