// Переменные для проекта

// Цвета
$primary-color: #EBFF00; // Основной акцентный цвет
$secondary-color: #B63A22; // Дополнительный акцентный цвет
$text-color: #fff; // Основной цвет шрифта
$bg-color: #000; // Основной фоновый цвет
$bg-secondary: rgba(204, 204, 204, 0.15); // Дополнительный фоновый цвет
$white: #ffffff;
$black: #000000;

// Тени
$shadow-primary: -4px -4px 50px 0 rgba(235, 255, 0, 0.80), 4px 4px 50px 0 rgba(235, 255, 0, 0.80);
$shadow-secondary: -4px -4px 50px 0 rgba(237, 47, 47, 0.80), 4px 4px 50px 0 rgba(237, 47, 47, 0.80);

// Шрифты
$font-primary: 'Mulish', 'PT Sans', sans-serif;
$base-font-size: 20px; // Базовый размер шрифта

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

