svg.icon-arrow(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M21.6666 1.66667L18.3333 1.66667L18.3333 15.9833L2.34996 2.30349e-07L-4.19336e-05 2.35L15.9833 18.3333L1.66663 18.3333L1.66663 21.6667L21.6666 21.6667L21.6666 1.66667Z" fill="currentColor")

