svg.icon-arrow-down(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
  path(d="M15.4866 8.00023C15.8083 7.49477 15.4452 6.83334 14.846 6.83334L5.65396 6.83334C5.05484 6.83334 4.69175 7.49477 5.0134 8.00023L9.60945 15.2226C9.9078 15.6914 10.5922 15.6914 10.8906 15.2226L15.4866 8.00023Z" fill="currentColor")

