svg.icon-flash(width="27" height="40" viewBox="0 0 27 40" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M10.5875 24.2997C7.05833 24.2997 3.58106 24.2997 0 24.2997C6.83343 16.143 13.5804 8.07152 20.3273 0C20.3446 0.0170285 20.3792 0.0170285 20.3965 0.034057C19.0125 5.24478 17.6458 10.4385 16.2445 15.7003C19.7564 15.7003 23.2337 15.7003 26.8493 15.7003C20.0159 23.857 13.269 31.9285 6.52203 40C6.50473 39.983 6.47013 39.983 6.45283 39.9659C7.80222 34.7722 9.1862 29.5785 10.5875 24.2997Z" fill="currentColor")

